# project generated
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# cmake 
*.cmake
CMakeCache.txt
/CMakeFiles

# build
.classpath
.project
*.class

# executable
VisualSound.jar

# other
/.settings
/x64